

/*Navigation bar styling 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link, a:visited {
	display: block;
	width: 250px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #AD33FF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {
	background-color: #7D25B8;
}
*/

body { 
	padding-top: 70px; 
}

#profilePic {
	position: relative;
}

#out {
	position: absolute;
	top: 0px;
}

#newProfilePic {
	visibility: hidden;
}

#status {
	width: 380px;
	padding: 10px;
	border: 5px solid grey;
	margin: 0;
}



